<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
<div class="mb-5 text-center">
    <h1 class="mb-3">My Blog</h1>
    <h4 class="mb-3">블로그에 오신걸 환영합니다!</h4>
</div>

<div class="container">
<div class="row">
    <div class="col-lg-8">
        <article>
            <input type="hidden" id="article-id" th:value="${article.id}">
            <header class="mb-4">
                <input type="text" class="form-control" placeholder="제목" id="title" th:value="${article.title}">
            </header>
            <section class="mb-4">
                <textarea id="content" class="form-control"  placeholder="내용을 적어주세요!" th:text="${article.content}"></textarea>
            </section>
            <button type="button" id="update-btn" class="btn btn-primary" th:if="${article.id} != null ">수정</button>
            <button type="button" id="create-btn" class="btn btn-primary" th:if="${article.id} == null">등록</button>
        </article>
    </div>
</div>
</div>

<script src="/js/articles.js"></script>
</body>
</html>